body {
  background: #f9f9f9; }

.form-login-container {
  display: flex;
  height: 100vh;
  align-items: center; }

.form-login {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto; }

.nav-link {
  cursor: pointer; }
  .nav-link:hover {
    color: #007bff; }

.modal-content {
  padding: 15px 0;
  min-height: 485px; }

.navigation {
  margin-bottom: 30px; }

.invalid-feedback {
  display: block; }

.form-control.invalid {
  border-color: #dc3545; }

.loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #3498db;
  width: 80px;
  height: 80px;
  animation: spin 2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  opacity: 0.4;
  position: absolute;
  top: 30%;
  left: 40%; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

/* Modal Header */
.modal-header {
  padding: 2px 16px; }

/* Modal Body */
.modal-body {
  padding: 2px 16px; }

/* Modal Footer */
.modal-footer {
  padding: 2px 16px; }

/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0; }
  to {
    top: 0;
    opacity: 1; } }
